body, html {
    margin: 0;
    padding: 0;
    max-width: 1920px;
}

header {
    background-image: url("../img/grass.png");
    background-repeat: repeat-x;
    background-position: bottom;
}

.logo {
    margin: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
}

.main_menu li{
    display: inline-block;
    list-style: none;
    margin: 20px 20px;
    padding: 130px 130px;
    background-image: url("../img/sunflower.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    text-align: center;
    color: #ffffff;
}